@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --background: #ece3dc;
  --foreground: #303c31;
  --accent-clr-primary: #f0baad;
  --accent-clr-secondary: #8c977c;
  --light: #f2f2f2;
}

.dark {
  --background: #303c31;
  --foreground: #ece3dc;
  --accent-clr-primary: #f0baad;
  --accent-clr-secondary: #8c977c;
  --light: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--light);
  --color-popover-foreground: var(--foreground);
  --color-primary: var(--accent-clr-primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--accent-clr-secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--light);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-primary: var(--font-alice);
  --font-secondary: var(--font-antic-didone);
  --font-handwritten: var(--font-mr-de-haviland);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .line {
    padding-inline: 10px;
  }
}
